@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}

